<div>
  <p class="text-2xl font-black">Ini halaman Home/Discover</p>
  <section class="container mx-auto mb-10 p-5">
    <section
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-10 h-96"
    >
      <article
        class="min-h-116 max-w-3xl w-full rounded-xl text-gray-100 xl:col-span-2 bg-center bg-cover transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://www.freetogame.com/g/540/thumbnail.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-50 p-10 rounded-xl h-full hover:bg-opacity-0"
        >
          <div class="flex justify-center">
            <h1
              class="text-6xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Overwatch 2
            </h1>
          </div>
        </div>
      </article>
      <article
        class="min-h-116 max-w-3xl w-full rounded-xl text-gray-100 xl:col-span-2 bg-center bg-cover transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://www.freetogame.com/g/540/thumbnail.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-50 p-10 rounded-xl h-full hover:bg-opacity-0"
        >
          <div class="flex justify-center">
            <h1
              class="text-6xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Overwatch 2
            </h1>
          </div>
        </div>
      </article>
      <article
        class="min-h-116 max-w-3xl w-full rounded-xl text-gray-100 xl:col-span-2 bg-center bg-cover transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://www.freetogame.com/g/540/thumbnail.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-50 p-10 rounded-xl h-full hover:bg-opacity-0"
        >
          <div class="flex justify-center">
            <h1
              class="text-6xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Overwatch 2
            </h1>
          </div>
        </div>
      </article>
      <article
        class="min-h-116 max-w-3xl w-full rounded-xl text-gray-100 xl:col-span-2 bg-center bg-cover transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://www.freetogame.com/g/540/thumbnail.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-50 p-10 rounded-xl h-full hover:bg-opacity-0"
        >
          <div class="flex justify-center">
            <h1
              class="text-6xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Overwatch 2
            </h1>
          </div>
        </div>
      </article>
    </section>
  </section>
</div>

<!-- !Tall Card 8 -->
<div>
  <p class="text-2xl font-black">Ini halaman Home/Discover</p>
  <section class="container mx-auto mb-10 p-5">
    <section
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-10 h-96"
    >
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
    </section>
  </section>
</div>

<!-- !Tall Card 4 -->
<div>
  <p class="text-2xl font-black">Ini halaman Home/Discover</p>
  <section class="container mx-auto mb-10 p-5">
    <section
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-10 h-96"
    >
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
      <article
        class="relative file:min-h-116 bg-orange-600 max-w-xl w-full rounded-xl text-gray-100 bg-cover bg-center transform duration-500 hover:-translate-y-1 cursor-pointer"
        style="
          background-image: url(https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg);
        "
      >
        <div
          class="bg-black bg-opacity-20 hover:bg-opacity-0 p-10 rounded-xl h-full"
        >
          <div
            class="absolute inset-x-0 bottom-0 align-middle flex justify-center"
          >
            <h1
              class="text-4xl text-center drop-shadow-2xl font-bold mb-5 text-gray-100 leading-snug min-h-33"
            >
              Grand Theft Auto V
            </h1>
          </div>
        </div>
      </article>
    </section>
  </section>
</div>